<% @teams.each do |team| %>
<div id="team-<%= team.id%>">
<h3><%= team.nickname %></h3>
<h4><%= team.hometown %></h4>
<% team.players.each do |player|%>
<h5>Player name: <%= player.name %></h5>
<h5>Player age: <%= player.age %></h5>
<% end %>
</div>
<% end %>