<h1><%= @competition.name %></h1>
<h3><%= @competition.location %></h3>
<h3><%= @competition.sport %></h3>

<h3>Teams competing:</h3>

<ul>
<% @competition.teams.each do |team|%>
<li><%= team.nickname %></li>
<li><%= team.hometown %></li>
<% end %>
</ul>


<p>Average age of all players: <%= @competition.average_age_of_players %></p>

<%= form_with url: "/competitions/#{@competition.id}/teams", method: :post, local: true do |f| %>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>

    <%= f.submit "Submit"%>
<% end %>
